#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
myapplication = {
  chief {
    name = Eva
    age = 42
    married = false
  }

  variables = ${symbol_dollar}{HOME}/${artifactId}2.ini
}
